<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<header><h1>Biblioteca Virtual</h1></header>
<nav>
    <a href="/home">Inicio</a>
    <a href="/libros">Libros</a>
    <a href="/prestamos">Préstamos</a>
    <sec:authorize access="hasRole('ADMIN')">
        <a href="/admin">Admin</a>
    </sec:authorize>
    <a href="/logout">Salir</a>
</nav>
